# dependencies
/node_modules

# testing
/coverage
/src/api/test/data

# production
/build
/dist

# rspack
.rspack-profile-*/

# next
/.next

# TypeScript
*.tsbuildinfo

# misc
.DS_Store
.env
npm-debug.log
LW_frontend.code-workspace

.vercel
.eslintcache
.idea
