# dependencies
/node_modules

# testing
/coverage
/lib/types/test/data

# production
/build

# next
/.next

# TypeScript
*.tsbuildinfo

# misc
.DS_Store
.env
npm-debug.log
LW_frontend.code-workspace

.vercel
.eslintcache
.idea
