.toggle {
  width: 24px;
  height: 24px;
  padding: 3px;
  position: absolute;
  top: 25px;
  right: 20px;
  z-index: 1;

  & span {
    display: block;
    position: absolute;
    height: 2px;
    background-color: var(--colorPrimaryLight);
    opacity: 1;
    left: 0;
    width: 24px;
    transition:
      transform 0.25s ease-in-out,
      opacity 0.25s ease-in-out,
      top 0.25s ease-in-out,
      left 0.25s ease-in-out,
      width 0.25s ease-in-out;
    transform: rotate(0deg);
    transform-origin: left center;

    &:hover {
      background-color: var(--colorPrimaryLight);
    }
    &:nth-child(1) {
      top: 4px;
    }
    &:nth-child(2) {
      top: 11px;
    }
    &:nth-child(3) {
      top: 18px;
    }
  }

  &[aria-expanded='true'] span:nth-child(1) {
    transform: rotate(45deg);
    top: 3px;
    left: 2px;
  }
  &[aria-expanded='true'] span:nth-child(2) {
    width: 0;
    opacity: 0;
  }
  &[aria-expanded='true'] span:nth-child(3) {
    transform: rotate(-45deg);
    top: 20px;
    left: 2px;
  }

  /* Keep in sync with Menu */
  @media only screen and (min-width: 850px) {
    display: none;
  }
}
