.box {
  position: absolute;
  background-color: var(--colorWhite);
  color: var(--colorGreyDark);
  box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.25);
  font-size: 14px;
  line-height: 1.1em;
  padding: 12px 16px;
  pointer-events: none;
  z-index: 10;
  min-width: 200px;
  border-radius: 4px;

  &.center {
    transform: translateX(-50%) translateY(0);
  }
  &.left {
    transform: translateX(-15%) translateY(0);
  }
  &.right {
    transform: translateX(-85%) translateY(0);
  }
}

.notch {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 7.5px 0 7.5px;
  border-color: var(--colorWhite) transparent transparent transparent;

  top: -8px;
  &.center {
    transform: translateX(-50%) rotate(180deg);
    left: 50%;
  }
  &.left {
    transform: translateX(-50%) rotate(180deg);
    left: 15%;
  }
  &.right {
    transform: translateX(50%) rotate(180deg);
    right: 15%;
  }
}

.labledValue {
  font-size: 14px;
  line-height: 20px;
  border-bottom: 1px solid var(--colorGreyLight);
  padding-bottom: 10px;
  margin-bottom: 5px;
  color: var(--colorBlack);
  &:last-child {
    border-bottom: none;
    padding-bottom: 5px;
    margin-bottom: 0px;
  }
}
