.title {
  margin-block: 0;
}

.detailBox {
  border-top: 1px solid var(--colorGreyLight);
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
  margin-bottom: -20px;
}

.expandLink {
  display: block;
  padding-block: var(--sizeM);
}

.expandIcon {
  margin-top: calc(-1 * var(--sizeXXS));
  margin-left: var(--sizeS);
  float: right;
}

.symbol {
  display: inline-block;
}

.image {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
}

.meta {
  margin-top: 0;
}
