.spacer {
  position: relative;
  min-width: 100%;
  min-height: calc(100vh - var(--sizeHeaderHeight));
}

.container {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
}

@keyframes spin {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.15;
  }
}

.bar {
  animation: spin 1.2s linear infinite;
  border-radius: 5px;
  background-color: var(--colorGreyMid);
  position: absolute;
  width: 20%;
  height: 7.8%;
  top: -3.9%;
  left: -10%;
}
