@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  src:
    url(../public/static/fonts/roboto-v30-latin-300.woff2) format('woff2'),
    url(../public/static/fonts/roboto-v30-latin-300.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src:
    url(../public/static/fonts/roboto-v30-latin-regular.woff2) format('woff2'),
    url(../public/static/fonts/roboto-v30-latin-regular.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 400;
  src:
    url(../public/static/fonts/roboto-v30-latin-italic.woff2) format('woff2'),
    url(../public/static/fonts/roboto-v30-latin-italic.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src:
    url(../public/static/fonts/roboto-v30-latin-500.woff2) format('woff2'),
    url(../public/static/fonts/roboto-v30-latin-500.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src:
    url(../public/static/fonts/roboto-v30-latin-700.woff2) format('woff2'),
    url(../public/static/fonts/roboto-v30-latin-700.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Serif';
  font-style: normal;
  font-weight: 400;
  src:
    url('../public/static/fonts/roboto-serif-v8-latin-regular.woff2')
      format('woff2'),
    url('../public/static/fonts/roboto-serif-v8-latin-regular.woff')
      format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Serif';
  font-style: normal;
  font-weight: 700;
  src:
    url('../public/static/fonts/roboto-serif-v8-latin-700.woff2')
      format('woff2'),
    url('../public/static/fonts/roboto-serif-v8-latin-700.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Serif';
  font-style: italic;
  font-weight: 400;
  src:
    url('../public/static/fonts/roboto-serif-v8-latin-italic.woff2')
      format('woff2'),
    url('../public/static/fonts/roboto-serif-v8-latin-italic.woff')
      format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Serif';
  font-style: italic;
  font-weight: 700;
  src:
    url('../public/static/fonts/roboto-serif-v8-latin-700italic.woff2')
      format('woff2'),
    url('../public/static/fonts/roboto-serif-v8-latin-700italic.woff')
      format('woff');
  font-display: swap;
}
